src/main/mule/product-salesforce-integration-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd ">
    <flow name="product-salesforce-integration-api-main">
        <http:listener config-ref="product-salesforce-integration-api-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="product-salesforce-integration-api-config" />
		<error-handler ref="global-error-handlingError_Handler" />
    </flow>
    <flow name="put:\products:application\json:product-salesforce-integration-api-config">
		<logger level="INFO" doc:name="Logger Started" doc:id="c09ce630-409f-4f5b-a24e-01a0ffd94d09" message="Testing"/>
		<flow-ref doc:name="Flow Reference" doc:id="c605e7d0-529c-41a2-9973-d717e4a604c2" name="sf-implementationFlow"/>
		<logger level="INFO" doc:name="Logger End" doc:id="b16ded8f-718e-457c-9060-a6274e80a589" message="Testing" />
    </flow>
</mule>
